.box{
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
}
img{
    height: 230px;
    width: 150px;
}
label{
    display: inline;
    align-items: center;
}
.card{
    margin: 2px;
}